<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Template</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <!-- Footer Elements -->
    <div class="container">

            <!--Grid row-->
            <div class="row d-flex justify-content-center">
      
              <!--Grid column-->
              <div class="col-md-6">
      
                <!-- Video -->
                <div class="embed-responsive embed-responsive-16by9 mb-4">
                  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/vlDzYIIOYmM" allowfullscreen></iframe>
                </div>
      
              </div>
              <!--Grid column-->
      
            </div>
            <!--Grid row-->
      
          </div>
          <!-- Footer Elements -->
      
    
</body>
</html>